---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";

const homepage = await getListPage("homepage", "-index");

const { banner } = homepage.data;
---

<Base>
  <section class="section container flex grow justify-center">
    <div class="lg:col-7 md:col-9 mb-8 text-center">
      <ImageMod
        class="inline-block"
        src={banner.image}
        height={380}
        width={380}
        alt="logo"
        format="png"
      />
      <h1
        set:html={markdownify(banner.title)}
        class="mb-4 text-h3 lg:text-h1"
      />
      <p set:html={markdownify(banner.content)} class="mb-8" />
    </div>
  </section>
</Base>
