---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Social from "@/components/Social.astro";
import social from "@/config/social.json";

const homepage = await getListPage("homepage", "-index");

const { content } = homepage.data;
---

<Base>
  <section class="section container flex grow justify-center">
    <div class="lg:col-7 md:col-9 mb-8 text-center">
      <ImageMod
        class="inline-block"
        src={content.logo}
        height={380}
        width={380}
        alt="logo"
        format="png"
      />
      <h1
        set:html={markdownify(content.title)}
        class="mb-4 text-h3 lg:text-h1"
      />
      <Social source={social.main} className="social-icons" />
    </div>
  </section>
</Base>
