---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Social from "@/components/Social.astro";
import social from "@/config/social.json";

// const homepage = await getListPage("homepage", "-index");

// const { content } = homepage.data;

const logo = '/images/headshot.png'
---

<Base>
  <section class="section container grow">
    <div class="mx-auto lg:col-7 md:col-9 mb-8 text-center">
      <div class="avatar-wrapper">
        <ImageMod
          class="avatar-circle"
          src={logo}
          height={380}
          width={380}
          alt="logo"
          format="png"
        />
      </div>
      <h1>Hey, I'm Tyler</h1>
      <Social source={social.main} className="social-icons" />
      <br/>
      <p>
        I'm a student in the Master of Geomatics for Environmental Management program at the University of British Columbia, 
        where my focus is using remote sensing and GIS to empower energy and environmental management decision making.
      </p>
      <br/>
      <p>
        I use my background in software engineering to design powerful geospatial analytical methods. 
      </p>

      <br><hr><br>

      <h2>Professional Experience</h2>

      <br/>

      <div>
        <b>Cassia Research Inc. (dba. CoPilot AI)</b>
        <p>Mar 2021 to Sept 2024</p>
        <i>Software Developer</i>
      </div>

      <br>
      
      <div>
        <b>University of British Columbia</b>
        <p>Jan 2019 to May 2020</p>
        <i>Web Developer, Learning Technology Rover</i>
      </div>
      
      <br><hr><br>

      <h2>Education</h2>

      <br/>

      <div>
        <b>University of British Columbia</b>
        <p><i>Master of Geomatics for Environmental Management</i></p>
      </div>

      <br>
      
      <div>
        <b>University of British Columbia</b>
        <p><i>Bachelor of Science, Computer Science</i></p>
      </div>


    </div>
  </section>
</Base>